.attribution {
    font-size: 11px;
    text-align: center;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --orange: hsl(34, 97%, 64%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s ease-in-out;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 0rem;
    background: var(--very-light-gray);
}

.header-title, .card-header {
    color: var(--very-dark-blue);
}

.card-header {
    font-size: 1.25em;
}

.container {
    display: flex;
    height: 90%;
    flex-direction: column;
    max-width: 60rem;
    gap: 3rem;
    padding: 1rem;
}

.header {
    text-align: center;
    display: grid;
    place-items: center;
}

.header-title {
    font-size: 2em;
    font-weight: 600;
}

.card-body, .header-info {
    font-size: 0.8rem;
    color: var(--grayish-blue);
}

.header-info {
    max-width: 35rem;
    font-size: 1rem;
}

.motto {
    color: var(--grayish-blue);
    font-size: 2em;
    opacity: 0.9;
    font-weight: 200;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
}

.container-1, .container-3 {
    display: grid;
    place-items: center;
}

.container-2 {
    display: grid;
    gap: 1.3rem;
}

.card {
    background: hsl(0, 0%, 100%);
    padding-block: 1rem;
    padding-inline: 1.5rem;
    box-shadow: 0 5px 10px hsla(229, 6%, 66%, 0.35);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.svg {
    align-self: flex-end;
}

.info {
    display: grid;
    gap: 0.7rem;
}

img {
    width: 85%;
    height: 85%;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-1 {
    border-top: 5px solid var(--cyan);
}
.card-2 {
    border-top: 5px solid var(--red);
}
.card-3 {
    border-top: 5px solid var(--orange);
}
.card-4 {
    border-top: 5px solid var(--blue);
}

@media screen and (max-width: 920px) {
    main {
        height: 150vh;
    }
    
    .container {
        margin-top: 5rem;
        min-width: 480px;
        height: 100%;
    }
    
    .cards-container {
        display: flex;
        flex-direction: column;
    }

    .card-1, .card-4 {
        width: 100%;
    }

    .card:hover {
        transform: scale(1.025);
    }
}